<div class="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Address</h4>
            <p>T-Hub, High tech City, hyderabad <br>
            Pin Code 10012, India
            </p>
        </div>
        <div class="col-md-4">
            <h4>Address</h4>
            <p>Janakapuri New Delhi <br>
            Pi  n Code 10000, India
            </p>
        </div>
        <div class="col-md-4">
            <h4>Social Link</h4>
            <button class="btn btn-outline-warning">
                <i  class="fa fa-google"></i>
               </button>&nbsp;
           <button class="btn btn-outline-warning">
            <i  class="fa fa-facebook-official"></i>
           </button>&nbsp;
           <button class="btn btn-outline-warning">
            <i  class="fa fa-instagram"></i>
           </button>&nbsp;
           <button class="btn btn-outline-warning">
            <i  class="fa fa-skype"></i>
           </button>&nbsp;
           <button class="btn btn-outline-warning">
            <i  class="fa fa-youtube"></i>
           </button>
        </div>
    </div>
    </div>
    </div>
    